################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DAM Config Mover/obj
/DAM Security Exporter/obj
/DAM Security Importer/obj
